FIREBASE_DATABASE_URL=https://your-project-default-rtdb.firebaseio.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GPU_SERVER_URL=https://xxxxxxxxxx.ngrok-free.app
RUNPOD_ENDPOINT_ID=xxxxxxxxx
RUNPOD_API_KEY=rpa_Xxxxxxxxxxxxxxx