# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
venv/
.venv/

# Firebase
serviceAccountKey.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Colab
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Uploads
uploads/
temp/