fastapi==0.111.0
uvicorn==0.30.0
python-multipart==0.0.9
firebase-admin==6.5.0
cloudinary==1.40.0
rembg==2.0.57
Pillow==10.3.0
colorthief==0.2.1
transformers==4.41.0
torch==2.3.0
numpy==1.26.4
requests==2.32.2
python-dotenv==1.0.1
pydantic==2.7.1
